<h1>Keep Track of Your Fishing Tackle</h1>
<p>Keeping track of your fishing tackle has never been <em><strong>easier</strong></em>!<br>
With Fishing Tackle Tracker&trade; you can record and update your <em><strong>personal</strong></em> fishing tackle or boating supplies quickly and easily.</p>
<h2>All for only $1 per month.</h2>
<p><%= link_to "Sign Up Button", new_user_registration_path %> | <%= link_to "Login Button", new_user_session_path %></p>
<h2>What's In My Tackle Box?</h2>
<div>
  <ul>
    <li>I hate buying what I already have in my tackle box!</li>
    <li>I can't remember what I have in my tackle supplies!</li>
    <li>I'd love to see what I already own!</li>
    <li>I have to be able to view my tackle away from home!</li>
  </ul>
</div>
<div> 
  <h2>Finally, a place I can keep track of <em>everything</em> in my fishing arsenal!</h2>
  <p><%= link_to "Sign Up Button", new_user_registration_path %></p>
</div>
<div>
    <p>Some sort of fishing video advertisement (need a tracker, keep buying same things over and over, go to store uses mobile app, tracks at home)</p>
</div>
<hr>
<div>
  <h2>What Type of Fishing Tackle Can I Track? <strong><em>All!</em></strong></h2>
  <p>Just a <em>few</em> of the tackle options you can track include:</p>
</div>
<div>
  <div>
    <h3>Lures</h3>
    <ul>
      <li>Buzzbait</li>
      <li>Hard Bait</li>
      <li>Jerk Bait</li>
      <li>Poppers</li>
      <li>Trolling</li>
      <li>Offshore</li>
    </ul>
  </div>
  <div>
    <h3>Rods</h3>
    <ul>
      <li>Casting</li>
      <li>Conventional</li>
      <li>Offshore</li>
      <li>Pole</li>
      <li>Spinning</li>
      <li>Surf</li>
    </ul>
  </div>
  <div>
    <h3>Reels</h3>
    <ul>
      <li>Bait Casting</li>
      <li>Conventional Level Wind</li>
      <li>Electric</li>
      <li>Lever Drag</li>
      <li>Line Counter</li>
      <li>Spinning</li>
    </ul>
  </div>
  <div>
    <h3>Plus More</h3>
    <ul>
      <li>Accesorries</li>
      <li>Boating</li>
      <li>Electronics</li>
      <li>Fly Fishing</li>
      <li>Terminal Tackle</li>
      <li>You Buy it, You Track it</li>
    </ul>
  </div>
</div>
