var tackle = new Array();
<% for tackle in @tackle -%>
  tackle.push(new Array('<%=h tackle.tackle_category %>', '<%=h tackle.name %>', '<%=h tackle.name %>', '<%=h tackle.id %>'));
<% end -%>

function tackleCategorySelected() {
  tackleCategory = $('#tackle_category').val();
  i = 0;
  var select = $('#tackle_type');
  select.empty();

  $.each(tackle, function() {
    if (tackle[i][0] == tackleCategory) {
      select.append('<option value=' + tackle[i][3] + '>' + tackle[i][1] + '</option>');
    }
    ++i;
  });
/*
  if (tackleCategory != "")
  {
    $('#tackle_type').show();  
  }
  else
  {   
    $('#tackle_type').hide();
  }
 */
  
  $(document).on('load', '#tackle_type', function(e) {
    console.log(this.options[e.target.selectedIndex].text);
  });
}

$(document).ready(function() {
 //$('#tackle_type').hide();
  selectedOption = $("#tackle_type option:selected").val();
  tackleCategorySelected();
  $("#tackle_type").val(selectedOption);
  $('#tackle_category').change(tackleCategorySelected);
});

