<h1>Fishing Tackle Tracker&trade; is created by fishermen for fishermen</h1>
<p>We created this site for the same reason we use it. We got tired of not remembering what we already owned. We would get to a fishing supply or boating supply store and totally forget what we already owned when looking at the <em>glorious selection</em> of store inventory. So to be able to keep our selection of tackle fresh, we needed a way to allow us to remember what we already had so we could spend our fishing and boating budget in a more responsible way.</p>
<p>So, <em>fisherman and boaters</em>, we suggest you use our site, not only to save money but to save your brain power for <em>fishing and boating</em> rather than having to remember what you own.</p>
<p>Can we really have too much boating and fishing supplies? <em>No.</em> <em>BUT</em>, now we can atleast know which colors of the rainbow we already have so we can get that full lure color collection we have <strong><em>ALWAYS</em></strong> wanted.</p>
<p>Thank you for using FishingTackleTracker.com&trade;!</p>
<p>&mdash; FishingTackleTracker&trade; Creators</p>
