<h1>How Do I Use This?</h1>
<p>Simple answer, <em>It's easy!</em></p>
<dl>
  <dt>Step 1 &mdash; Sign Up to use the site.</dt>
    <dd>Click on a <%= link_to "Sign Up", new_user_registration_path %> sign link</dd>
    <dd>After signing, up you will be taken to your <strong>Dashboard</strong> to start tracking your fishing tackle.</dd>
  <dt>Step 2 &mdash; Start Adding Tackle.</dt>
    <dd>Click the Add To Tracker Button</dd>
    <dd>This will take you to a page where you can start adding your awesome fishing and boating supplies to your Tackle Tracker Dashboard.</dd>
  <dt>Step 3 &mdash; Go back to Track My Tackle Dashboard.</dt>
    <dd>After you're done adding your awesome tackle, click Return to Tackle Tracker Dashboad</dd>
  <dt>Step 4 &mdash; View your Awesome Tackle on the Tackle Tracker Dashboard</dt>
    <dd>Now you can view all of your fishing tackle and boating supply information.</dd>
    <dd><em>Remember your tracker is only as good as the information you enter.</em></dd>
    <dd><strong><em>The more information you enter the less you will have to remember!</em></strong></dd>
  <dt>Step 5 &mdash; Have fun keeping track of all of your fishing tackle and boating supplies!</dt>
</dl>
