<div class="header-container">
  <div class="container">
    <h1>Thank you for contacting us!</h1>
    <p>We will get back to you as soon as we can.</p>
  </div>
</div>
<div class="container">
  <p><%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary btn-lg blue", :role => "button" %> for an account today!</p>
</div>
