// Place all the styles related to the member_tackles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h6 {
  color: #165680;
}

li {
  font-size: 1.7rem;
}

ul.tackle-display {
  padding-left: 0;
}

.text#member_tackle_description {
  width: 100%;
  height: 110px;
}

label {
  color: #293545;
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
}

.tackle_image {
  padding: 1px;
  border: 1px solid #165680;
  background-color: #D15633;
}
