<div class="header-container">
  <div class="container">
    <h1>Add New Tackle</h1>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
  <br>
  <br>
  <%= link_to 'Cancel', member_tackles_path, :class => "btn btn-default btn-lg blue", :role => "button"  %>
</div>
